
@{
    ViewBag.Title = "Thêm Đất Nước";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>@ViewBag.Title</title>

<script type="text/javascript" src="~/Scripts/sweetalert-dev.js"></script>
<link rel="stylesheet" href="~/Scripts/sweetalert.css">
<link rel="stylesheet" type="text/css" href="http://loudbeacon.demo.beesightsoft.com/bs3/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>

    function addNewTour() {

        var countryid = $("#countryid").val();
        var countryname = $("#countryname").val();
        var description = $("#description").val();
        console.log(countryid);
        if (countryid == null || countryid == "")
        {
            swal("Vui lòng nhập mã nước!")
            return;
        }
        else if (countryname == null || countryname == "")
        {
            swal("Vui lòng nhập tên nước!")
            return;
        }
        else if (description == null || description == "") {
            swal("Vui lòng nhập mô tả về nước!")
            return;
        }

        $.ajax({
            url: "/Admin/AddNewCountry",
            type: "POST",
            data: {

                country_id: countryid,
                country_name: countryname,
                description: description,
            },
            success: function (result) {
                var message = result.Message;
                var success = result.Success;
                if (success == true) {

                    swal("Thêm đất nước!", message, "success")
                }
                else
                {
                    sweetAlert("Oops...", message , "error");
                }
            },
            error: function (xhr) {
                sweetAlert("Oops...", "Thêm đât nước thất bại, vui lòng thử lại", "error");
            }
        });
    }
</script>
<section id="main-content">

    <style>
        .error-message {
            color: red;
        }
    </style>
    <section class="wrapper" style="background: #f1f2f7">
        <div class="row" style="margin: 0px;">
            
                <section class="panel" style="margin: 20px;">
                    <header class="panel-heading">
                        <h3>Thêm đất nước</h3>
                    </header>
                    <div class="panel-body">
                        <div class="position-center" style="width: 62%">
                         
                                <div style="display:none;"><input type="hidden" name="_method" value="POST"></div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Mã nước</label>
                                    <div class="input text"><input  class="form-control" id="countryid" placeholder="Nhập mã bưu chính" maxlength="255" type="number"></div>                            <div id="UnameErr" class="error-message"></div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Tên nước</label>
                                    <div class="input text"><input class="form-control" id="countryname" placeholder="Nhập tên nước" maxlength="255" type="text"></div>                            <div id="nameErr" class="error-message"></div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Mô tả về đất nước</label>
                                    <div class="input email"><input  class="form-control" id="description" placeholder="Mô tả về đất nước" maxlength="255" type="text"></div>                            <div id="emailErr" class="error-message"></div>
                                </div>
                                <button type="submit" onclick="addNewTour();" id="submit" class="btn btn-info">Submit</button>
                            
                        </div>
                    </div>
                </section>
            
        </div>
    </section>
</section>