
@{
    ViewBag.Title = "Fake Tourist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="main-content">
    <section class="wrapper">
        <!--mini statistics start-->
        <div class="row" style="margin: 0px">

            <h4 style="margin-left: 50px;">Fake Tourist</h4>

            <br />
            <div class="col-md-3 wow zoomIn ">

                <div class="mini-stat clearfix">

                    <a href="/tourist1" target="_blank">
                        <img class="img-responsive hvr-glow" src="~/Content/Images/anhthu.jpg" width="120" height="120" style="border-radius: 60px">
                    </a>
                    <a href="/tourist1" target="_blank">
                        <div class="mini-stat-info">
                            <span>Anh Thư</span>
                        </div>
                    </a>
                </div>

            </div>
            <div class="col-md-3 wow zoomIn ">

                <div class="mini-stat clearfix">

                    <a href="/tourist2" target="_blank">
                        <img class="img-responsive hvr-glow" src="~/Content/Images/tramle.jpg" width="120" height="120" style="border-radius: 60px">
                    </a>
                    <a href="/tourist2" target="_blank">
                        <div class="mini-stat-info">
                            <span>Trâm Lê</span>
                        </div>
                    </a>
                </div>

            </div>
            <div class="col-md-3 wow zoomIn ">

                <div class="mini-stat clearfix">

                    <a href="/tourist3" target="_blank">
                        <img class="img-responsive hvr-glow" src="~/Content/Images/harley.jpg" width="120" height="120" style="border-radius: 60px">
                    </a>
                    <a href="/tourist3" target="_blank">
                        <div class="mini-stat-info">
                            <span>Harley Trung</span>
                        </div>
                    </a>
                </div>

            </div>
            <div class="col-md-3 wow zoomIn ">

                <div class="mini-stat clearfix">

                    <a href="/tourist4" target="_blank">
                        <img class="img-responsive hvr-glow" src="~/Content/Images/sonnguyen.jpg" width="120" height="120" style="border-radius: 60px">
                    </a> 
                    <a href="/tourist4" target="_blank">
                        <div class="mini-stat-info">
                            <span>Sơn Nguyễn</span>
                        </div>
                    </a>
                </div>

            </div>
         
        </div>
        <div class="row" style="margin: 0px">

            <h4 style="margin-left: 50px;">Fake Guide</h4>

            <br />
            <div class="col-md-3 wow zoomIn ">

                <div class="mini-stat clearfix">

                    <a href="/tourguide1" target="_blank">
                        <img src="~/Content/Images/duc_avatar.jpg" width="120" height="120" style="border-radius: 60px">
                    </a>
                    <a href="/tourguide1" target="_blank">
                        <div class="mini-stat-info">
                            <span>Đức Nguyễn</span>
                        </div>
                    </a>
                </div>

            </div>
            <div class="col-md-3 wow zoomIn ">

                <div class="mini-stat clearfix">

                    <a href="/tourguide2" target="_blank">
                        <img class="img-responsive hvr-glow" src="~/Content/Images/nam_avatar.jpg" width="120" height="120" style="border-radius: 60px">
                    </a>
                    <a href="/tourguide2" target="_blank">
                        <div class="mini-stat-info">
                            <span>Nam Trần</span>
                        </div>
                    </a>
                </div>

            </div>


        </div>
    </section>
    <style>
        .mini-stat > a {
            text-decoration: none;
        }

        .mini-stat {
            text-align: center;
        }

            .mini-stat img {
                margin: 0 auto;
                text-align: center;
            }

        .mini-stat-info span {
            color: #1FB5AD;
            font-size: 16px;
            padding-top: 17px;
            text-align: center;
        }

        .mini-stat-info a {
            text-decoration: none;
        }

        .mini-stat .hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
            border-radius: 50%;
        }

        .mini-stat .hvr-glow {
            border-radius: 50%;
        }
    </style>
</section>
