
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html>
<head>

    <title>DK - Anh Thư</title>

    <!-- For-Mobile-Apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Welcome Back Login Form Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //For-Mobile-Apps -->
    <!-- Style -->
    <link rel="stylesheet" href="~/Scripts/styleloginmobile.css" type="text/css" media="all" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/Scripts/jquery.signalR-2.2.0.js"></script>


    <!-- Web-Fonts -->
  
    <!-- //Web-Fonts -->
    @*<script>

        //var connection = $.hubConnection('http://tourtrackingv2.azurewebsites.net/');

        var connection = $.hubConnection('http://localhost:3407/');

        connection.qs = { 'USER_POSITION': 'TR', 'MANAGER_ID': 'TG_3', 'USER_ID': 'TR_4', 'USER_NAME': 'Anh Thư' };
        var myHub = connection.createHubProxy('hubServer');

        // start connection
        connection.start().done(function () {
            myHub.invoke('initTouristConnection', 13.756331, 100.501765, "TG_3", "Anh Thư", 4).done(function () {
                //alert("Khởi tạo location thành công");
            }).fail(function (error) {
                alert("Khởi tạo location thất bại");
            });;
        });

        $(document).ready(function () {

        });
    </script>*@

    <script>

        // var userId;
        var connection = $.hubConnection('http://tourtrackingv2.azurewebsites.net/');
        // var connection = $.hubConnection('http://192.168.0.104:3407');
        //var connection = $.hubConnection('http://localhost:3407/');
        connection.qs = { 'USER_POSITION': 'TR', 'MANAGER_ID': 'TG_3', 'USER_ID': 'TR_4', 'USER_NAME': 'Anh Thư' };
        var myHub = connection.createHubProxy('hubServer');

        // for listening
 

        myHub.on("confirmWarning", function (tourguideName, warningName) {
           
        });
        // start connection
        connection.start().done(function () {
            myHub.invoke('initTouristConnection', 13.756331, 100.501765, "TG_3", "Anh Thư", 4).done(function () {
                //alert("Khởi tạo location thành công");
            }).fail(function (error) {
                alert("Khởi tạo location thất bại");
            });;
        });
        function disconect() {
            connection.stop();
        }
    </script>
</head>
<body>
    <div class="container">
        <h4>Du Khách</h4>
        <div class="image">
            <img src="~/Content/Images/anhthu.jpg" alt="Welcome">
        </div>
        
        <h2>Anh Thư</h2>
        <h3 >Đã đăng nhập thành công</h3>

        <div class="signin">
            <form >       
                <input type="submit" style="visibility: hidden" value="LOGIN" />
               
            </form>
            <input type="submit" value="DISCONECT" onclick="disconect()" />
            
        </div>

        <br>



        <div class="social">
            <ul class="social-icons slideanim">
                <li><a href="#" class="facebook" title="Go to Our Facebook Page"></a></li>
                <li><a href="#" class="twitter" title="Go to Our Twitter Account"></a></li>
                <li><a href="#" class="googleplus" title="Go to Our Google Plus Account"></a></li>
            </ul>
        </div>
    </div>
</body>
</html>